<a href="https://colab.research.google.com/github/FalconDinesh/WebpageAnalysis/blob/main/wpa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import tensorflow as tf 
tf.test.gpu_device_name()

'/device:GPU:0'

In [67]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [68]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from numpy import cov

In [69]:
nRowsRead = 12000 # specify 'None' if want to read whole file
# alexa.com_site_info.csv may have more rows in reality, but we are only loading/previewing the first 1000 rows
df = pd.read_csv('Dataset - Dataset.csv', delimiter=',', nrows = nRowsRead)
nRow, nCol = df.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 11882 rows and 14 columns

In [70]:
#df.iloc[335]

In [71]:
i = 0
for index in df['category']:
    #print(index)
    a_string = index
    split_string = a_string.split("/", 1)
    substring = split_string[0]
    #print(substring)
    df.loc[i,'category'] = substring
    i = i + 1
    #print(a_string)

df

                site link  ... Daily_time_on_site
0      sankakucomplex.com  ...               1985
1             pokemon.com  ...                903
2                 viz.com  ...               2402
3        anime-planet.com  ...               1382
4           animefreak.tv  ...               2642
...                   ...  ...                ...
11877          coacht.com  ...               1563
11878        momsteam.com  ...                241
11879      infosports.com  ...               1684
11880            nays.org  ...                183
11881           fciac.net  ...               1022

[11882 rows x 14 columns]

In [72]:
pip install category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)

In [73]:
# from sklearn import preprocessing
# lb = preprocessing.LabelBinarizer()
# df['cat'] = lb.fit_transform(df['category']).tolist()
# print(lb.classes_)
# print(df.iloc[6977]['cat'])
# df
import category_encoders as ce
encoder = ce.BinaryEncoder(cols=['category'])
dfbin = encoder.fit_transform(df['category'])
df = pd.concat([df,dfbin],axis=1)
df

/usr/local/lib/python3.6/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

                site link category  ...  category_3  category_4
0      sankakucomplex.com     Arts  ...           0           1
1             pokemon.com     Arts  ...           0           1
2                 viz.com     Arts  ...           0           1
3        anime-planet.com     Arts  ...           0           1
4           animefreak.tv     Arts  ...           0           1
...                   ...      ...  ...         ...         ...
11877          coacht.com   Sports  ...           1           0
11878        momsteam.com   Sports  ...           1           0
11879      infosports.com   Sports  ...           1           0
11880            nays.org   Sports  ...           1           0
11881           fciac.net   Sports  ...           1           0

[11882 rows x 19 columns]

In [74]:
del df['category_0']

In [75]:
df

                site link category  ...  category_3  category_4
0      sankakucomplex.com     Arts  ...           0           1
1             pokemon.com     Arts  ...           0           1
2                 viz.com     Arts  ...           0           1
3        anime-planet.com     Arts  ...           0           1
4           animefreak.tv     Arts  ...           0           1
...                   ...      ...  ...         ...         ...
11877          coacht.com   Sports  ...           1           0
11878        momsteam.com   Sports  ...           1           0
11879      infosports.com   Sports  ...           1           0
11880            nays.org   Sports  ...           1           0
11881           fciac.net   Sports  ...           1           0

[11882 rows x 18 columns]

In [76]:
from sklearn.preprocessing import LabelEncoder

In [77]:
cat1_df = df.query('category_1==0&category_2==0&category_3==0&category_4==1')
cat1_df = cat1_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat1_df)//10
start = 0
new_cat1 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat1_df)

  bin =cat1_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat1 = pd.concat([new_cat1,bin])
  start=start+binsize
new_cat1.to_csv("t.csv")
new_cat1['rank'].value_counts()
new_cat1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

                       site link category  ...  category_4  rank
1039                 youtube.com     Arts  ...           1     1
2036                tv.yahoo.com     Arts  ...           1     1
1037                tv.yahoo.com     Arts  ...           1     1
417                  netflix.com     Arts  ...           1     1
632                     imdb.com     Arts  ...           1     1
...                          ...      ...  ...         ...   ...
565             netterimages.com     Arts  ...           1    10
1420            netterimages.com     Arts  ...           1    10
1813   deepundergroundpoetry.com     Arts  ...           1    10
834        sylvesterstallone.com     Arts  ...           1    10
121   rauschenbergfoundation.org     Arts  ...           1    10

[2106 rows x 19 columns]

In [78]:
#cat2_df = df.query('category_1==0&category_2==0&category_3==1&category_4==0')
#cat2_df['rank']=pd.qcut(df['site_rank_in_global_internet_engagement'],q=10,precision=0)
# instantiate labelencoder object
#le = LabelEncoder()
# apply le on categorical feature columns
#cat2_df['rank'] = (le.fit_transform(cat2_df['rank']))
#cat2_df['rank'] = cat2_df['rank'].apply(lambda x: int(x)+1)
#cat2_df
cat2_df = df.query('category_1==0&category_2==0&category_3==1&category_4==0')
cat2_df = cat2_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat2_df)//10
start = 0
new_cat2 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat2_df)

  bin =cat2_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat2 = pd.concat([new_cat2,bin])
  start=start+binsize
new_cat2['rank'].value_counts()
new_cat2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                         site link  category  ...  category_4  rank
3308                    office.com  Business  ...           0     1
2734                    paypal.com  Business  ...           0     1
2596                    indeed.com  Business  ...           0     1
3310  economictimes.indiatimes.com  Business  ...           0     1
2281  clinicalstudies.info.nih.gov  Business  ...           0     1
...                            ...       ...  ...         ...   ...
3020              gumdropbooks.com  Business  ...           0    10
2545                      edmc.edu  Business  ...           0    10
3751               ventureline.com  Business  ...           0    10
2543                        osg.ca  Business  ...           0    10
2465                 thephone.coop  Business  ...           0    10

[1926 rows x 19 columns]

In [79]:

cat3_df = df.query('category_1==0&category_2==0&category_3==1&category_4==1')
cat3_df = cat3_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat3_df)//10
start = 0
new_cat3 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat3_df)

  bin =cat3_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat3 = pd.concat([new_cat3,bin])
  start=start+binsize
new_cat3['rank'].value_counts()
new_cat3

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

                   site link   category  ...  category_4  rank
4674              google.com  Computers  ...           1     1
4675            facebook.com  Computers  ...           1     1
4790        en.wikipedia.org  Computers  ...           1     1
4686          aws.amazon.com  Computers  ...           1     1
4676                bing.com  Computers  ...           1     1
...                      ...        ...  ...         ...   ...
4712       northernlight.com  Computers  ...           1    10
4745       smseverywhere.com  Computers  ...           1    10
4281  hitechcaddservices.com  Computers  ...           1    10
5136           cortona3d.com  Computers  ...           1    10
4622        oldcomputers.net  Computers  ...           1    10

[1112 rows x 19 columns]

In [80]:
cat4_df = df.query('category_1==0&category_2==1&category_3==0&category_4==0')
cat4_df = cat4_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat4_df)//10
start = 0
new_cat4 = pd.DataFrame()
for i in range(10):
   end=start+binsize
   if(i==9):
    end=len(cat4_df)
   bin =cat4_df.iloc[start:end]
   bin['rank'] = [i+1]*len(bin)
   new_cat4 = pd.concat([new_cat4,bin])
   start=start+binsize
new_cat4['rank'].value_counts()
new_cat4

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                   site link category  ...  category_4  rank
5431               twitch.tv    Games  ...           0     1
5405   rpg.stackexchange.com    Games  ...           0     1
5432  store.steampowered.com    Games  ...           0     1
5144               chess.com    Games  ...           0     1
5434           epicgames.com    Games  ...           0     1
...                      ...      ...  ...         ...   ...
5391        sudokudragon.com    Games  ...           0    10
5357     greatgroupgames.com    Games  ...           0    10
5194           bridgebum.com    Games  ...           0    10
5216          rawthrills.com    Games  ...           0    10
5325    creativetwilight.com    Games  ...           0    10

[331 rows x 19 columns]

In [81]:
cat5_df = df.query('category_1==0&category_2==1&category_3==0&category_4==1')
cat5_df = cat5_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat5_df)//10
start = 0
new_cat5 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat5_df)
  bin =cat5_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat5 = pd.concat([new_cat5,bin])
  start=start+binsize
new_cat5['rank'].value_counts()
new_cat5

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                     site link category  ...  category_4  rank
5475             niaaa.nih.gov   Health  ...           1     1
6070                   who.int   Health  ...           1     1
5675                   cdc.gov   Health  ...           1     1
5670        children.webmd.com   Health  ...           1     1
5963                 rn.ca.gov   Health  ...           1     1
...                        ...      ...  ...         ...   ...
6365           healthiersf.org   Health  ...           1    10
5826             24hrcares.com   Health  ...           1    10
6280          joannabriggs.org   Health  ...           1    10
6265  reproductivepartners.com   Health  ...           1    10
5938            emaxhealth.com   Health  ...           1    10

[906 rows x 19 columns]

In [82]:
cat6_df = df.query('category_1==0&category_2==1&category_3==1&category_4==0')
cat6_df = cat6_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat6_df)//10
start = 0
new_cat6 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat6_df)
  bin =cat6_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat6 = pd.concat([new_cat6,bin])
  start=start+binsize
new_cat6['rank'].value_counts()
new_cat6

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                site link category  ...  category_4  rank
6580             cnbc.com     Home  ...           0     1
6433        food.ndtv.com     Home  ...           0     1
6553       living.aol.com     Home  ...           0     1
6582      marketwatch.com     Home  ...           0     1
6387             yelp.com     Home  ...           0     1
...                   ...      ...  ...         ...   ...
6579  pioneerthinking.com     Home  ...           0    10
6549   absolute-forum.com     Home  ...           0    10
6526         hometoys.com     Home  ...           0    10
6529       onthehouse.com     Home  ...           0    10
6534        hannabery.com     Home  ...           0    10

[265 rows x 19 columns]

In [83]:
cat7_df = df.query('category_1==0&category_2==1&category_3==1&category_4==1')
cat7_df = cat7_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat7_df)//10
start = 0
new_cat7 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat7_df)
  bin =cat7_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat7 = pd.concat([new_cat7,bin])
  start=start+binsize
new_cat7['rank'].value_counts()
new_cat7

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                        site link category  ...  category_4  rank
6816                   reddit.com     News  ...           1     1
6933                  nytimes.com     News  ...           1     1
6934               indiatimes.com     News  ...           1     1
6905  syndication.theguardian.com     News  ...           1     1
6691                  foxnews.com     News  ...           1     1
...                           ...      ...  ...         ...   ...
6686      professorbainbridge.com     News  ...           1    10
7012                    wamis.org     News  ...           1    10
6723          gopbriefingroom.com     News  ...           1    10
6868               gregpalast.com     News  ...           1    10
6662        theeventchronicle.com     News  ...           1    10

[383 rows x 19 columns]

In [84]:
cat8_df = df.query('category_1==1&category_2==0&category_3==0&category_4==0')
cat8_df = cat8_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat8_df)//10
start = 0
new_cat8 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat8_df)
  bin =cat8_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat8 = pd.concat([new_cat8,bin])
  start=start+binsize
new_cat8['rank'].value_counts()
new_cat8

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                   site link    category  ...  category_4  rank
7310             booking.com  Recreation  ...           0     1
7311         tripadvisor.com  Recreation  ...           0     1
7112       flightradar24.com  Recreation  ...           0     1
7053  typewriterdatabase.com  Recreation  ...           0     1
7078       audiorecording.me  Recreation  ...           0     1
...                      ...         ...  ...         ...   ...
7174              seatow.com  Recreation  ...           0    10
7163        barker-ewing.com  Recreation  ...           0    10
7247   alpineclubofcanada.ca  Recreation  ...           0    10
7164           optiworld.org  Recreation  ...           0    10
7238       mountaineering.ie  Recreation  ...           0    10

[283 rows x 19 columns]

In [85]:
cat9_df = df.query('category_1==1&category_2==0&category_3==0&category_4==1')
cat9_df = cat9_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat9_df)//10
start = 0
new_cat9 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat9_df)
  bin =cat9_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat9 = pd.concat([new_cat9,bin])
  start=start+binsize
new_cat9['rank'].value_counts()
new_cat9

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

            site link   category  ...  category_4  rank
7426        udemy.com  Reference  ...           1     1
7537      archive.org  Reference  ...           1     1
7538    goodreads.com  Reference  ...           1     1
7427   blackboard.com  Reference  ...           1     1
7429     coursera.org  Reference  ...           1     1
...               ...        ...  ...         ...   ...
7533   vanguardsw.com  Reference  ...           1    10
7470          els.net  Reference  ...           1    10
7672     izquotes.com  Reference  ...           1    10
7603   switch2osm.org  Reference  ...           1    10
7492  fusionknots.com  Reference  ...           1    10

[369 rows x 19 columns]

In [86]:
cat10_df = df.query('category_1==1&category_2==0&category_3==1&category_4==0')
cat10_df = cat10_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat10_df)//10
start = 0
new_cat10 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat10_df)
  bin =cat10_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat10 = pd.concat([new_cat10,bin])
  start=start+binsize
new_cat10['rank'].value_counts()
new_cat10

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

            site link  category  ...  category_4  rank
7683     google.co.in  Regional  ...           0     1
7684     amazon.co.jp  Regional  ...           0     1
7812  edition.cnn.com  Regional  ...           0     1
7804     amazon.co.uk  Regional  ...           0     1
7686   indiatimes.com  Regional  ...           0     1
...               ...       ...  ...         ...   ...
7962        npolar.no  Regional  ...           0    10
7793      ifsc.gov.bz  Regional  ...           0    10
7955      uarctic.org  Regional  ...           0    10
7787         bcie.org  Regional  ...           0    10
7966          amap.no  Regional  ...           0    10

[341 rows x 19 columns]

In [87]:
cat11_df = df.query('category_1==1&category_2==0&category_3==1&category_4==1')
cat11_df = cat11_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat11_df)//10
start = 0
new_cat11 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat11_df)
  bin =cat11_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat11 = pd.concat([new_cat11,bin])
  start=start+binsize
new_cat11['rank'].value_counts()
new_cat11

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                  site link category  ...  category_4  rank
8391  blog.researchgate.net  Science  ...           1     1
8472      sciencedirect.com  Science  ...           1     1
8619            reverso.net  Science  ...           1     1
8575             hpl.hp.com  Science  ...           1     1
8672   cigi.sourceforge.net  Science  ...           1     1
...                     ...      ...  ...         ...   ...
8576   southernresearch.org  Science  ...           1    10
8274          sciencehq.com  Science  ...           1    10
8078         earthfiles.com  Science  ...           1    10
8603       onlineethics.org  Science  ...           1    10
8422               jcvi.org  Science  ...           1    10

[686 rows x 19 columns]

In [88]:
cat12_df = df.query('category_1==1&category_2==1&category_3==0&category_4==0')
cat12_df = cat12_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat12_df)//10
start = 0
new_cat12 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat12_df)
  bin =cat12_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat12 = pd.concat([new_cat12,bin])
  start=start+binsize
new_cat12['rank'].value_counts()
new_cat12

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                    site link  category  ...  category_4  rank
8755                 ebay.com  Shopping  ...           0     1
8979                 etsy.com  Shopping  ...           0     1
9684   store.steampowered.com  Shopping  ...           0     1
9347              wayfair.com  Shopping  ...           0     1
9198               costco.com  Shopping  ...           0     1
...                       ...       ...  ...         ...   ...
9633       cigars-of-cuba.com  Shopping  ...           0    10
9033   cremationsolutions.com  Shopping  ...           0    10
9755         luggageworks.com  Shopping  ...           0    10
9110  countrystorecatalog.com  Shopping  ...           0    10
9617       emersonscigars.com  Shopping  ...           0    10

[1178 rows x 19 columns]

In [89]:
cat13_df = df.query('category_1==1&category_2==1&category_3==0&category_4==1')
cat13_df = cat13_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat13_df)//10
start = 0
new_cat13 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat13_df)
  bin =cat13_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat13 = pd.concat([new_cat13,bin])
  start=start+binsize
new_cat13['rank'].value_counts()
new_cat13

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                     site link category  ...  category_4  rank
10206                  who.int  Society  ...           1     1
10276         classics.mit.edu  Society  ...           1     1
10364                  irs.gov  Society  ...           1     1
10125    ipts.jrc.ec.europa.eu  Society  ...           1     1
10124  forera.jrc.ec.europa.eu  Society  ...           1     1
...                        ...      ...  ...         ...   ...
10435             findhorn.org  Society  ...           1    10
10030        closingthegap.com  Society  ...           1    10
10830               and.org.au  Society  ...           1    10
10597            johnlocke.org  Society  ...           1    10
9962           streetgangs.com  Society  ...           1    10

[948 rows x 19 columns]

In [90]:
cat14_df = df.query('category_1==1&category_2==1&category_3==1&category_4==0')
cat14_df = cat14_df.sort_values(by='site_rank_in_global_internet_engagement',ascending=True)
binsize = len(cat14_df)//10
start = 0
new_cat14 = pd.DataFrame()
for i in range(10):
  end=start+binsize
  if(i==9):
    end=len(cat14_df)
  bin =cat14_df.iloc[start:end]
  bin['rank'] = [i+1]*len(bin)
  new_cat14 = pd.concat([new_cat14,bin])
  start=start+binsize
new_cat14['rank'].value_counts()
new_cat14

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                 site link category  ...  category_4  rank
11584             espn.com   Sports  ...           0     1
11585        livescore.com   Sports  ...           0     1
11472       motorsport.com   Sports  ...           0     1
11586   bleacherreport.com   Sports  ...           0     1
10847  badmintoneurope.com   Sports  ...           0     1
...                    ...      ...  ...         ...   ...
11672       hillrunner.com   Sports  ...           0    10
11174             apha.com   Sports  ...           0    10
11867   thepredicament.com   Sports  ...           0    10
11406              hna.com   Sports  ...           0    10
11631        cowboyway.com   Sports  ...           0    10

[1048 rows x 19 columns]

In [91]:
 df = pd.concat([new_cat1,new_cat2,new_cat3,new_cat4,new_cat5,new_cat6,new_cat7,new_cat8,new_cat9,new_cat10,new_cat11,new_cat12,new_cat13,new_cat14])
 df

                site link category  ...  category_4  rank
1039          youtube.com     Arts  ...           1     1
2036         tv.yahoo.com     Arts  ...           1     1
1037         tv.yahoo.com     Arts  ...           1     1
417           netflix.com     Arts  ...           1     1
632              imdb.com     Arts  ...           1     1
...                   ...      ...  ...         ...   ...
11672      hillrunner.com   Sports  ...           0    10
11174            apha.com   Sports  ...           0    10
11867  thepredicament.com   Sports  ...           0    10
11406             hna.com   Sports  ...           0    10
11631       cowboyway.com   Sports  ...           0    10

[11882 rows x 19 columns]

In [92]:
df1=df.dropna(thresh=14)
df1

             site link category  ...  category_4  rank
1039       youtube.com     Arts  ...           1     1
2036      tv.yahoo.com     Arts  ...           1     1
1037      tv.yahoo.com     Arts  ...           1     1
417        netflix.com     Arts  ...           1     1
632           imdb.com     Arts  ...           1     1
...                ...      ...  ...         ...   ...
11558    paddlepro.com   Sports  ...           0    10
11880         nays.org   Sports  ...           0    10
11671     runottawa.ca   Sports  ...           0    10
11758  liftforlife.com   Sports  ...           0    10
11174         apha.com   Sports  ...           0    10

[9543 rows x 19 columns]

In [93]:

df1['search_traffic_this_site_percentage'].fillna(value=df1['search_traffic_this_site_percentage'].mean(), inplace=True)
df1['top_keywords_search_traffic'].fillna(value=df1['top_keywords_search_traffic'].mean(), inplace=True)
df1['search_traffic_Comp Avg_percentage'].fillna(value=df1['search_traffic_Comp Avg_percentage'].mean(), inplace=True)
df1['data_bounce_rate_this_site_percentage'].fillna(value=df1['data_bounce_rate_this_site_percentage'].mean(), inplace=True)
df1['data_bounce_rate_comp_avg_percentage'].fillna(value=df1['data_bounce_rate_comp_avg_percentage'].mean(), inplace=True)
df1['data_sites_linking_in_this_site_percentage'].fillna(value=df1['data_sites_linking_in_this_site_percentage'].mean(), inplace=True)
df1['data_sites_linking_in_comp_avg_percentage'].fillna(value=df1['data_sites_linking_in_comp_avg_percentage'].mean(), inplace=True)
df1['audience_overlap_sites_overlap_scores'].fillna(value=df1['audience_overlap_sites_overlap_scores'].mean(), inplace=True)
df1['audience_overlap_sites_overlap_scores_parameter_2'].fillna(value=df1['audience_overlap_sites_overlap_scores_parameter_2'].mean(), inplace=True)
df1['audience_overlap_sites_overlap_scores_parameter_3'].fillna(value=df1['audience_overlap_sites_overlap_scores_parameter_3'].mean(), inplace=True)
df1['site_rank_in_global_internet_engagement'].fillna(value=df1['site_rank_in_global_internet_engagement'].mean(), inplace=True)
df1['Daily_time_on_site'].fillna(value=df1['Daily_time_on_site'].mean(), inplace=True)
df1.iloc[17][5]
df1

/usr/local/lib/python3.6/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

             site link category  ...  category_4  rank
1039       youtube.com     Arts  ...           1     1
2036      tv.yahoo.com     Arts  ...           1     1
1037      tv.yahoo.com     Arts  ...           1     1
417        netflix.com     Arts  ...           1     1
632           imdb.com     Arts  ...           1     1
...                ...      ...  ...         ...   ...
11558    paddlepro.com   Sports  ...           0    10
11880         nays.org   Sports  ...           0    10
11671     runottawa.ca   Sports  ...           0    10
11758  liftforlife.com   Sports  ...           0    10
11174         apha.com   Sports  ...           0    10

[9543 rows x 19 columns]

In [94]:
# from numpy import asarray
# from sklearn.preprocessing import MinMaxScaler
# # define data
# # define min max scaler
# scaler = MinMaxScaler()
# # transform data
# df2 = scaler.fit_transform(df1[df1.columns[2:14]])
# df2

In [95]:
df1 = df1.drop(['category','site link'],axis=1)

In [96]:
import sklearn
from sklearn.model_selection import train_test_split
df1=df1.sample(frac=1).reset_index().drop('index',axis=1)
training_dataset, test_dataset = sklearn.model_selection.train_test_split(df1, train_size=0.80, test_size=0.20)

In [97]:
y_train = training_dataset['rank']
X_train = training_dataset.drop('rank',axis = 1)

y_test = test_dataset['rank']
X_test = test_dataset.drop('rank', axis=1)

# SVM

In [ ]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)